.homebg {
  background-color: white;
  margin: 0%;
  display: block;
}

.img {
  display: block;
}

.container1 {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 20px;
  text-align-last: justify;
}
.top-left-2 {
  position: absolute;
  text-align: left;
  top: 100px;
  left: 25px;
}

.color-1 {
  background-color: #81d742;
  background-size: cover;
}

.text-1 {
  padding-top: 5%;
  padding-right: 50px;
}

.text-2 {
  padding-right: 50px;
}

.color-2 {
  background-color: #81d742;
}

.bg1 {
  border: 2px solid black;
  padding: 25px;
  background-color: #81d742;
  background-repeat: no-repeat;
  background-size: 100px 200px;
}



.flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.logo-size{
  height: 60px;
}

.banner-size{
  width : 1400px;
  height : 650px;
}